/*========================================

	recode of Rory's grid layout using Lost grid - https://github.com/corysimmons/lost

========================================*/

/*=====

    css4 variable declaration

=====*/

:root {
    --gridGutter: 30px;
}

/*=====

    Lost global settings

=====*/

@lost gutter var(--gridGutter);

/*=====

    grid styles

=====*/

.container {
    lost-center: 1080px;

    .row {
        clear: fix;

        &:not(:last-of-type) {
            margin-bottom: var(--gridGutter);
        }
    }

    .columns {

        &.one {
            lost-column: 1/12;
        }

        &.two {
            lost-column: 2/12;
        }

        &.three {
            lost-column: 3/12;
        }

        &.four {
            lost-column: 4/12;
        }

        &.five {
            lost-column: 5/12;
        }

        &.six {
            lost-column: 6/12;
        }

        &.seven {
            lost-column: 7/12;
        }

        &.eight {
            lost-column: 8/12;
        }

        &.nine {
            lost-column: 9/12;
        }

        &.ten {
            lost-column: 10/12;
        }

        &.eleven {
            lost-column: 11/12;
        }

        &.twelve {
            lost-column: 12/12;
        }

        &.offset-by-one {
            lost-offset: -1/12;
        }

        &.offset-by-two {
            lost-offset: -2/12;
        }

        &.offset-by-three {
            lost-offset: -3/12;
        }

        &.offset-by-four {
            lost-offset: -4/12;
        }

        &.offset-by-five {
            lost-offset: -5/12;
        }

        &.offset-by-six {
            lost-offset: -6/12;
        }

        &.offset-by-seven {
            lost-offset: -7/12;
        }

        &.offset-by-eight {
            lost-offset: -8/12;
        }

        &.offset-by-nine {
            lost-offset: -9/12;
        }

        &.offset-by-ten {
            lost-offset: -10/12;
        }

        &.offset-by-eleven {
            lost-offset: -11/12;
        }

        &.offset-by-twelve {
            lost-offset: -12/12;
        }
    }
}
