/*========================================

	scss mixins

========================================*/

/*=====

    breakpoints

=====*/

@mixin breakpoint($point) {
    @if $point == desktop {
        @media (min-width: 1080px) { @content ; }
    } @else if $point == tablet {
        @media (max-width: 1080px) { @content ; }
    } @else if $point == mobile {
        @media (max-width: 750px)  { @content ; }
    } @else {
        @media (max-width: $point) { @content ; }
    }
}

@mixin pointbreak($point) {
    @if $point == tablet {
        @media only screen and (min-width: 1080px) { @content ; }
    } @else if $point == mobile {
        @media only screen and (min-width: 750px) { @content ; }
    } @else {
        @media only screen and (min-width: $point) { @content ; }
    }
}

/*=====

    anti-aliased font rendering

=====*/

@mixin font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
