/*========================================

	reset styles

========================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu,
nav, output, ruby, section, summary, time,
mark, audio, video {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

a, img {
    border: 0;
    outline: none;
}

/*========================================

    useful global styles

========================================*/

img {
    height: auto !important;
    max-width: 100%;
}

nav ul { list-style: none; }

.left { text-align: left !important; }
.right { text-align: right !important; }
.center { text-align: center !important; }
.clear { clear: both !important; }

.hide { display: none !important; }
.show { display: block !important; }
.hidden { opacity: 0 !important; }
.visible {  opacity: !important; }

.nudge-top {
    margin-top: 10px;

    &.--large {
        margin-top: 30px;
    }
}

.nudge-bottom {
    margin-bottom: 10px;

    &.--large {
        margin-bottom: 30px;
	}
}

/*========================================

    global mobile styles

========================================*/

.mobile-hide { @include breakpoint(mobile) { display: none; } }
.mobile-show { @include breakpoint(mobile) { display: block; } }
