/*========================================

	more specific scss modules

========================================*/

$grey: #d3d3d3;

.draggable,
.new-component {
    position: absolute;
    display: inline-block;
    height: 40px;
    width: 220px;
    background-color: $grey;

    &.damper {
        background-color: darken($grey, 25%);
    }

    &.circ-duct {
        background-color: darken($grey, 15%);
    }

    .remove {
        display: block;
        left: 10px;
        top: 10px;
        position: absolute;
        color: lighten($grey, 20%);
        font-size: 16px;
        cursor: pointer;
    }
}

.schematics-container {
    margin-top: 50px;

    .grid {

        $grid-size: 20px;

        height: calc(520px - 1px);
        width: calc(100% - 1px);
        margin-top: 20px;
        background-size: $grid-size $grid-size;
        background-image: repeating-linear-gradient(0deg, $grey, $grey 1px, transparent 1px, transparent $grid-size),
        repeating-linear-gradient(-90deg, $grey, $grey 1px, transparent 1px, transparent $grid-size);
    }
}

.components-container {
    padding: 40px;

    .component {

        p {
            margin-bottom: 5px;
        }

        .new-component {
            cursor: pointer;
        }

        .remove {
            pointer-events: none;
        }
    }
}
