/*========================================

	font styles

========================================*/

@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
    @include font-smoothing;
    font-family: 'Roboto', sans-serif;
    font-size: responsive 12px 18px;
}

h1 {
    font-size: responsive 18px 28px;
    text-align: center;
}
